.header {
  background-color: #151719;
  padding: 14px 30px 13px;
  display: flex;
  align-items: center;
}

.header__menu {
  width: 30px;
  height: 30px;
  background-image: url('../../images/menu.svg');
  margin: 3px 0 4px;
}

.header__logo {
  width: 89px;
  height: 24px;
  background-image: url('../../images/moyo-logo-small.svg');
  mix-blend-mode: screen;
  margin: 3px 323px 4px 25px;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-right: 174px;
  width: 446px;
  min-height: 36px;
  border-radius: 10px;
  background-color: #ffffff0d;
}

.header__search-icon {
  width: 24px;
  height: 24px;
  background-image: url('../../images/search-icon.svg');
  margin-right: 5px;
}

.header__search-input {
  width: 100%;
  padding: 8px 5px 9px;
  background-color: transparent;
  border: none;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188px;
  color: #ffffff;
}

.header__location {
  display: flex;
  margin: 10px 50px 9px 0;
  max-width: 146px;
  justify-content: space-between;
  align-items: center;
}

.header__nav-icon {
  width: 18px;
  height: 18px;
  background-image: url('../../images/navigation.svg');
  margin-right: 10px;
}

.header__city {
  width: 100%;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.174;
  margin: 0;
}

.header__button {
  padding: 0;
  border: none;
  border-radius: 6px;
  min-width: 97px;
  min-height: 37px;
  background-color: #ffffff33;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.067;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
